<%- include('partials/header') %>

<!-- product table -->
<div class="table-container">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">About</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- rendering all products using forEach loop -->
      <%products.forEach((product,i) => { %>
        <tr>
          <th scope="row"><%= i+1 %> </th>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td>
            <button class="btn btn-sm btn-dark">Add to Cart</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>


<%- include('partials/footer') %>
